<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <title>Home</title>
    <body>
        <h1>Welcome Home! <%= name %> </h1>
        <img src='https://upload.wikimedia.org/wikipedia/commons/7/79/Human_skull_-_animation_02_bright.gif' alt='meme'>
    </body>
</html>