<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Users</title>
    </head>
    <body>
        <%- include('../partials/header') %> 
        <div>
            <ol>
            <% users.forEach(({name, city}) => {%> 
                <li><%= `${name} is from ${city}` %></li>
            <%}) %>
            </ol>
        </div>
    </body>
</html>